*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* limpia los float */
.clearfix{
    clear: both;
    float: none;
}


/* estilos del relosj*/
#mostarHora{
    font-size: 25px;
    float: right;
    padding: 10px;
    background: #333;
    position: fixed;
    left: 0px;
    top: 0px;
    color:  white;
}

#controlTime{
    font-size: 12px;
    float: right;
    padding: 10px;
    position: fixed;
    left: 0px;
    top: 58px;
    color: white;
}

/***************************************/





#global{
  width: 70%;
  margin: 0px auto;
  margin-top: 30px;
  background-color: white;
  padding: 25px;
  box-shadow: 18px  10px  16.5px black ;
} 
/*******************************************************/



/* Estilos de logo*/

#logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 6px;
    margin: 0px auto;
    line-height: 80px;
     color: white;
     text-align: center;
     width:  60%;
     height: 85px;
     margin-bottom: 20px;
     float: left;
}
/*******************************************************/

/* Estilos  de la nagacion*/
#menu{
    font-family:sans-serif  ;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 45px;
}

#menu ul  li{
   height: 45px;
   display: inline-block;
   list-style: none;
   transition: all 300ms;
}



#menu ul  li a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px ;
}
/*******************************************************/


/* Estilos del acordion*/

#acordeon{
        padding: 5px;
        width: 60%;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        float: left;
}
/*******************************************************/


/*Estilos del aside*/

#siderbar{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     width: 31%;
     float: right;     
}

#siderbar h4{
    margin-top: 50px;
    margin-bottom: 20px ;
    line-height: 10px;
    color: #333;
    text-align: center;
    background: url("../img/lines.png") repeat-x;
    
}

#siderbar h4 span {
    background-color: white;
    padding: 5px ; 
}

#siderbar img{
    width: 99%;
}

#siderbar p{
    font-size: 15px;
    text-align: justify;
} 

/*******************************************************/


/*Estilos de fromlario*/


form input[type="text"],
form input[type="password"],
form input[type="email"]{
  padding: 5px;
  border-radius: 5px; 
  width: 100%;
  margin-top: 10px;
  margin-bottom:10px;
}

form input[type='submit']{
    background-color: #eee;
    padding: 8px;
    display: block;
    margin: 0px auto ;
    margin-top: 12px; 
    color: #333;
    cursor: pointer;
}
  

/*login falso */
#dataUser{
    width: 90%;
    height: 100px;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.75);
    padding: 6px;  
    border: 3px solid rgba(51, 51, 51, 0.75)  ;
    color: white;
}

#dataUser p:first-child{
   width: 85% ;
   margin: 0px auto;
   text-align: center;
   font-size: 20px;
   text-transform: uppercase;
}
#dataUser p{ 
  display: block;
   width: 85% ;
   margin: 5px2 auto;
   text-align: center;
   font-size: 10px;
   text-transform: lowercase;
}

#cerrarSesion{
    display: block;
    width: 85%;
    margin: 0px auto;
    margin-top: 25px;
    padding: 5px;
    border: 0px;
    border-radius: 8px;
    color: black;
}


/*******************************************************/

/*Estilos del fotter */

footer{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: whitesmoke;
    height: 47px;
    background: rgba(51, 51, 0, 0.80) ;
    margin: 0px auto;
    width:70%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 30px;
    line-height: 47px;
}
/*******************************************************/


/*footer*/
.subir{
    color: white;
     text-decoration: none;
     display: block;
     float: right;
}
/**************************************************/



/*******************************************************/


/*Estilos de el apartado de cambio de tema*/

   #stylePag-theme{
       position: fixed;
       top: 50%;
       right: 0px;
       background:rgba(51, 51, 51, 0.75);
       width: 50px;
       height: 120px;
   }

   
  #to-green,
  #to-red,
  #to-blue{
     width: 82%;
     height: 27%;
     border: 1.5px solid  silver;
     margin: 0px auto;
     margin-top: 2px;
     margin-bottom: 5px;
     cursor: pointer;

    }

 /*animacion de los cambios de temas de la pagina*/
 
  #to-green{
      background-color: #235e3d;
  }

  #to-red{
      background-color: #ca3413;
  }

  #to-blue{
      background-color:#1f87c4 ;
  }
/*******************************************************/

















