body{
    background: url('../img/cielo.jpg');
    background-attachment:fixed;
}

/*controla los hover  btn y nave */
.eventRaton:hover{
    background-color:#1f87c4;
    cursor: pointer;
}


/* borde del reloj */
#mostarHora{
    border: 5px solid #1f87c4;
     }
#controlTime{
        background-color: #333;
    }
/****************************/


#logo{
    background:#1f87c4;
}


.buttonMore{   
    background-color: #333;
}



form input[type="text"],
form input[type="password"],
form input[type="email"]{
  border: 2px solid #1f87c4 ;
}

form input[type='submit']{
    border: 2px solid #1f87c4 ;
}


#dataUser{
    box-shadow: 8px 7px 16px #1f87c4;
}


/*cambio de estilos  de acordion*/
.ui-state-active{
    background: #1f87c4;
   }
   
   .ui-state-active:hover{
       background-color: #059df5;
   }
